$white: rgb(240, 240, 240);
$orange: rgb(255, 120, 67);
$gray: rgb(79, 79, 79);
$light: rgb(235, 235, 235);
$black: rgba(0, 0, 0, 0.7);
$lightgray: rgba(215, 215, 215, 0.815);

@mixin format--std {
  border: 0;

  &:focus {
    outline: 0;
  }
}

@mixin header {
  padding: 1rem 0;
  background-color: $gray;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
}

.container--center {
  justify-content: center;
}

.text--black {
  color: $black;
}

.text--white {
  color: $white;
}

.text--orange {
  color: $orange;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}
.text--shadow {
  text-shadow: 0 2.5px 5px rgba(50, 50, 50, 0.2);
}

.text--header {
  font-weight: 200;
  font-size: 3rem;
}
