$breakpoint-sm: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1200;
$columns: 12;

$breakpoints: (
  '': 0,
  '-sm': 0,
  '-md': $breakpoint-md,
  '-lg': $breakpoint-lg,
  '-xl': $breakpoint-xl
);

@mixin create-media-query($breakpoint, $min-or-max) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (#{$min-or-max}-width: $breakpoint * 1px) {
      @content;
    }
  }
}

@mixin hide-columns($size, $columns, $breakpoint) {
  @each $size, $breakpoint in $breakpoints {
    @include create-media-query($breakpoint - 1, 'max') {
      .col-hidden#{$size}-down {
        display: none;
      }
    }
    @include create-media-query($breakpoint, 'min') {
      .col-hidden#{$size}-up {
        display: none;
      }
    }
  }
}

@mixin create-columns($size, $columns, $breakpoint) {
  @include create-media-query($breakpoint, 'min') {
    .col#{$size}-offset-0 {
      margin-left: 0;
    }

    @for $i from 1 through $columns {
      .col#{$size}-#{$i} {
        display: flex;
        flex-basis: (100 * ($i / $columns)) * 1%;
      }

      .col#{$size}-offset-#{$i} {
        margin-left: (100 * ($i / $columns)) * 1%;
      }
    }
  }
}

.container {
  display: flex;
  padding: 1em;
  max-width: $breakpoint-md * 1px;
}

.vertical {
  flex-direction: column;

  &.center {
    align-items: center !important;
  }
}

.fluid {
  max-width: 100%;
}

@each $size, $breakpoint in $breakpoints {
  @include create-columns($size, $columns, $breakpoint);
  @include hide-columns($size, $columns, $breakpoint);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.pull-right {
  justify-content: flex-end;
}

.pull-left {
  justify-content: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.vertical {
  flex-direction: column;

  &.center {
    align-items: center;
  }

  &.pull-right {
    align-items: flex-end;
  }

  &.pull-left {
    align-items: flex-start;
  }

  &.space-evenly {
    align-items: space-evenly;
  }

  &.space-around {
    align-items: space-around;
  }

  &.space-between {
    align-items: space-between;
  }
}
